body {
  width: 200px;
  margin: 0;
  font-size: 13px;
  background: #262a32;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

.header {
  font-size: 14px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(#fff, 0.1);
}

.content {
  menu {
    padding: 0;
    margin: 10px 0;

    li {
      list-style: none;
      line-height: 2;
      padding: 0 20px;
      cursor: pointer;

      &:hover {
        background: rgba(#fff, 0.1);
      }

      a {
        color: #fff;
        text-decoration: none;

        &.es-popup-kinopub {
          font-weight: bold;
          color: #ed734b;
        }
      }
    }
  }
}
