.es-select {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  font-size: 14px;
  height: auto;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  border-radius: 5px;
  line-height: 1;
  padding: 0 8px;
  line-height: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+Cjxwb2x5Z29uIHN0eWxlPSJmaWxsOiAjZmZmZmZmOyIgb3BhY2l0eT0iMC43IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 50%;
  background-size: 12px;
  color: #fff;
}
