.es-settings {
  display: inline-block;
  line-height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.es-settings-icon {
  margin: 0 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);

  &:hover {
    color: #fff;
  }

  svg {
    width: 24px;
    fill: currentColor;
  }
}

.es-settings-content {
  all: revert;
  line-height: 16px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  position: absolute;
  height: 270px;
  width: 340px;
  background-color: #1f1d2b;
  right: 36px;
  bottom: 116px;
  z-index: 10000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  &__menu {
    display: flex;

    &__items {
      display: flex;
    }

    &__item {
      line-height: 46px;
      padding: 0 16px;
      font-size: 15px;
      cursor: pointer;

      &:first-child {
        border-radius: 8px 0 0 0;
      }

      &--active {
        background-color: #252836;
      }
    }
  }

  &__main {
    flex: 1;
    padding: 16px;
    background-color: #252836;
    border-radius: 0 0 8px 8px;
  }

  &__item {
    margin-bottom: 12px;
  }

  &__element {
    display: flex;

    &__left {
      display: flex;
      flex: 1;
      text-align: right;
      align-items: center;
      justify-content: flex-end;
      margin-right: 8px;
    }

    &__right {
      display: flex;
      flex: 1;
      align-items: center;
      margin-left: 8px;

      label {
        margin-bottom: 0;
      }
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;

    &:after {
      display: inline-block;
      content: "\00d7";
      font-size: 28px;
      line-height: 18px;
    }
  }
}

.es-settings__select {
  width: 100%;
}
