$gray: #6b6b6b;
$white: #fff;

i > span {
  font-style: italic !important;
}

#easysubs {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  text-align: center;
  user-select: all;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  cursor: pointer;
  user-select: none;

  .easysubs-word {
    color: $white;
  }

  .easysubs-translate {
    white-space: pre;

    &-container {
      display: none;
      padding: 10px 25px;
      position: absolute;
      bottom: 135%;
      left: 50%;
      transform: translateX(-50%);
      background: #1e1e1e;
      border-radius: 0.4em;
      font-size: 16px;
      max-width: 290px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #1e1e1e;
        border-bottom: 0;
        margin-left: -10px;
        margin-bottom: -10px;
      }

      hr {
        margin: 5px auto 3px auto;
        height: 1px;
        background-color: #666;
        width: 60%;
      }
    }

    &-result {
      color: $white;
    }
    &-original {
      font-weight: bold;
      color: $gray;
    }

    &-alternative {
      text-align: left;
      color: $gray;
      max-height: 200px;
      overflow-y: auto;
      font-size: 14px;

      &-part-speech {
        margin-top: 15px;
        font-weight: bold;
      }
      &-item {
        display: flex;
        margin-top: 5px;

        &-translate {
          color: $white;
          flex: 0 100px;
          margin-right: 10px;
        }

        &-original {
          min-width: 120px;
          flex: 1 150px;
          text-align: left;
          margin-right: 10px;
        }

        &-frequency {
          flex: 0 0 32px;
          display: flex;
          margin-top: 4px;

          &:last-child {
            margin-right: 0;
          }

          &-dot {
            display: inline-block;
            width: 10px;
            height: 6px;
            margin-right: 2px;

            &.-empty {
              background-color: $gray;
            }
            &.-fill {
              background-color: #c6c6c6;
            }
          }
        }
      }
    }
  }
}

.easysubs-progress-bar {
  position: absolute;
  bottom: 0;
  height: 15px;
  width: 100%;
  z-index: 11;
  background-color: #171717;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background: #1296ba;
  }

  &-element {
    background-color: #707070;
    position: absolute;
    height: 7px;
    bottom: 4px;
    border-radius: 7px;
  }
}
