i > span {
  font-style: italic !important;
}

#easysubs {
  max-width: 650px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  text-align: center;
  user-select: all;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  white-space: pre;

  .easysubs-word {
    color: #fff;

    &-translate {
      padding: 10px 25px;
      position: absolute;
      top: -90px;
      left: 50%;
      transform: translateX(-50%);
      background: #1e1e1e;
      border-radius: 0.4em;
      font-size: 16px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #1e1e1e;
        border-bottom: 0;
        margin-left: -10px;
        margin-bottom: -10px;
      }

      &-translated {
        color: #6b6b6b;
        font-weight: bold;
      }

      hr {
        margin: 5px auto 3px auto;
        height: 1px;
        background-color: #666;
        width: 60%;
      }
    }
  }
}
