#english-with-fun.easysubs-enable {
  .jw-captions {
    display: none;
  }

  &.easysubs-progress-bar-enable {
    .jw-controlbar {
      margin-bottom: 15px;
    }
  }

  .jw-settings-menu {
    bottom: 72px;
  }
}
