#english-with-fun.easysubs-enable {
  .jw-captions {
    display: none;
  }

  #easysubs {
    font-size: 28px;
  }

  .jw-flag-fullscreen #easysubs {
    font-size: 44px;
  }

  .jw-controlbar {
    margin-bottom: 15px;
  }

  .jw-settings-menu {
    bottom: 72px;
  }
}
