#kinopub {
  .jw-captions.jw-captions-enabled {
    display: none;
  }

  .jw-flag-fullscreen #easysubs {
    font-size: 44px;
  }

  .jw-controlbar {
    bottom: 15px;
  }
  .jw-settings-menu {
    bottom: 72px;
  }
}
