#kinopub {
  .easysubs-settings {
    width: 60px;
    height: 60px;

    &-wrapper {
      bottom: 95px;
    }

    svg {
      height: 30px;
      width: 30px;
    }

    &-wrapper {
      right: 60px;
      @media screen and (max-width: 1520px) {
        right: 12px;
      }
    }
  }
  &.easysubs-enable {
    #easysubs {
      bottom: 130px;

      @media screen and (max-width: 1520px) {
        bottom: 100px;
      }
    }

    &.easysubs-progress-bar-enable {
      .jw-controlbar {
        bottom: 15px;
      }

      .jw-settings-menu {
        bottom: 115px;
      }
    }

    .jw-captions.jw-captions-enabled {
      display: none;
    }
  }
}
.media-controls-container,
.media-controls-container * {
  display: none !important;
}
