#kinopub.easysubs-enable {
  #easysubs {
    bottom: 130px;
  }

  &.easysubs-progress-bar-enable {
    .jw-controlbar {
      bottom: 15px;
    }

    .jw-settings-menu {
      bottom: 130px;
    }
  }

  .jw-captions.jw-captions-enabled {
    display: none;
  }

  .jw-flag-fullscreen #easysubs {
    font-size: 44px;
  }

  .easysubs-settings {
    width: 60px;
    height: 60px;

    &-wrapper {
      bottom: 95px;
    }

    svg {
      height: 30px;
      width: 30px;
    }
  }
}
