#netflix.easysubs-enable {
  #easysubs {
    bottom: 8vw;
    font-size: 34px;
  }

  .player-timedtext {
    display: none !important;
  }

  hr {
    border: none;
  }

  .easysubs-settings {
    &-wrapper {
      bottom: 85px;
    }
  }
}
