#onvix.easysubs-enable {
  .flowplayer.is-fullscreen #easysubs {
    font-size: 44px;
  }

  .flowplayer .fp-captions .fp-captions-normal {
    display: none;
  }

  #footer {
    bottom: 15px !important;
  }
}
