$text-color: #ffffff;
.easysubs-settings {
  line-height: 1.5;
  color: $text-color;
  z-index: 1000;

  label {
    color: $text-color;
  }

  &__select {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    font-size: 14px;
    height: auto;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    border-radius: 5px;
    line-height: 1;
    padding: 0 8px;
    line-height: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+Cjxwb2x5Z29uIHN0eWxlPSJmaWxsOiAjZmZmZmZmOyIgb3BhY2l0eT0iMC43IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz4KPC9zdmc+Cg==");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;
    background-size: 12px;
  }

  &__font-size,
  &__delay {
    display: flex;
    align-items: center;

    > div {
      margin-right: 10px;
    }

    &__text {
      font-weight: 600;
      min-width: 45px;
      text-align: center;
    }
  }

  &__custom-subs__status {
    margin-right: 10px;
  }

  &__button {
    position: relative;
    background: rgba(#ffffff, 0.2);
    border-radius: 5px;
    padding: 0 8px;
    line-height: 20px;
    display: inline-block;

    &.-transparent {
      background: none;
    }

    &.-plus,
    &.-minus {
      background: none;
      width: 20px;
      height: 20px;
      padding: 0;
      &:before,
      &:after {
        position: absolute;
        display: block;
        height: 2px;
        width: 10px;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 4px;
        content: "";
      }
    }

    &.-plus {
      &:after {
        transform: translateX(-50%) translateY(-50%) rotate(90deg);
      }
    }
  }

  &__item {
    display: flex;
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    &__left-side {
      flex: 1;
      text-align: right;
      margin-right: 10px;
      align-self: center;
    }

    &__right-side {
      flex: 1;
      text-align: left;
      align-self: center;
    }
  }

  #youtube & {
    width: 36px;
    height: 36px;

    &-container {
      svg {
        height: 36px;
      }
    }
  }

  #youtube .ytp-fullscreen & {
    width: 54px;
    height: 54px;

    &-container {
      svg {
        height: 54px;
        width: 28px;
      }
    }
  }

  #netflix & {
    height: 3.4em;
    width: 3.6em;
    font-size: 2.8em;

    &-container {
      svg {
        height: 1.6em;
        width: 1.6em;
        margin-top: -0.45em;
        font-size: 1.1em;
      }
    }
  }

  width: 44px;
  height: 44px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-logo {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 24px;
      height: 24px;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  select {
    color: #ffffff;
  }

  &:hover {
    svg .st0 {
      fill: rgba(255, 255, 255, 1);
    }
  }

  &-wrapper {
    position: absolute;
    bottom: 57px;
    width: max-content;
    right: 0;
    background: #262a32;
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
    font-size: 14px;
  }

  &-header {
    padding: 12px 15px;
    background: #21252b;
  }

  &__content {
    padding: 15px;

    &__header {
      line-height: 20px;
      margin-top: 20px;
      font-size: 12px;
      text-transform: uppercase;
      border-bottom: 1px solid #6b6b6b;
      color: #6b6b6b;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }

    &:before,
    &:after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: " ";
      height: 18px;
      width: 2px;
      background-color: #fff;
    }

    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
