#youtube {
  .captions-text {
    display: none !important;
  }

  .ytp-chrome-bottom,
  .ytp-gradient-bottom {
    bottom: 15px;
  }

  .html5-video-player {
    padding-bottom: 15px;

    &.ytp-fullscreen {
      padding-bottom: 0;

      #easysubs {
        font-size: 44px;
      }
    }
  }

  #easysubs {
    z-index: 10;
  }
}
