#youtube.easysubs-enable {
  .captions-text {
    display: none !important;
  }

  &.easysubs-progress-bar-enable {
    .ytp-chrome-bottom,
    .ytp-gradient-bottom {
      bottom: 15px;
    }
    .html5-video-player {
      padding-bottom: 15px;
    }
  }

  .html5-video-player {
    &.ytp-fullscreen {
      padding-bottom: 0;

      #easysubs {
        font-size: 44px;
      }
    }
  }

  #easysubs {
    z-index: 10;
  }
}
