#youtube.easysubs-enable {
  .captions-text {
    display: none !important;
  }

  &.easysubs-progress-bar-enable {
    .ytp-chrome-bottom,
    .ytp-gradient-bottom {
      bottom: 15px;
    }
    .html5-video-player {
      padding-bottom: 15px;
    }
  }

  .html5-video-player {
    &.ytp-fullscreen {
      padding-bottom: 0;

      #easysubs {
        bottom: 110px;
      }
    }
  }

  #easysubs {
    z-index: 30;
    bottom: 80px;
  }

  .easysubs-settings-wrapper {
    right: 0;
    bottom: 50px;
  }
}
