#youtube.easysubs-enable {
  .captions-text {
    display: none !important;
  }

  &.easysubs-progress-bar-enable {
    .ytp-chrome-bottom,
    .ytp-gradient-bottom {
      bottom: 15px;
    }
    .html5-video-player {
      padding-bottom: 15px;
    }
  }

  .html5-video-player {
    &.ytp-fullscreen {
      padding-bottom: 0;
    }
  }

  #easysubs {
    z-index: 10;
    bottom: 130px;
    font-size: 2.5vw;

    @media screen and (max-width: 1520px) {
      bottom: 100px;
    }
  }

  .easysubs-settings-wrapper {
    right: 0;
    bottom: 50px;
  }
}
