#es {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;

  pre {
    background-color: transparent;
    font: inherit;
  }

  .i {
    font-style: italic;
  }
  .b {
    font-weight: bold;
  }
  .u {
    text-decoration: underline;
  }

  .es-sub {
    text-align: center;
    line-height: 1.25;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
  }

  .es-sub-item {
    display: inline;
    position: relative;

    pre {
      display: inline;
    }

    &:hover {
      color: #3a88a2;
      cursor: pointer;
    }
  }
  .es-sub-item-space {
    display: inline;
  }

  .es-sub-item-translation {
    text-align: left;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate3d(-50%, -100%, 0);
    padding: 10px 25px;
    background-color: #1e1e1e;
    border-radius: 0.4em;
    font-size: 16px;
    max-width: fit-content;
    font-style: normal;
    white-space: normal;
    box-sizing: content-box;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #1e1e1e;
      border-bottom: 0;
      margin-left: -10px;
      margin-bottom: -10px;
    }
  }

  .es-sub-item-translation-item {
    white-space: nowrap;
  }
}

.es-kinopub {
  .jw-captions.jw-captions-enabled {
    display: none;
  }

  #es {
    bottom: 130px;

    @media screen and (max-width: 1520px) {
      bottom: 100px;
    }
  }
}
